@import '../../styles/sass/variables';

.button_action{
    width: 1.5rem;
    height: 1.5rem;
    background-color: #F0F0FA;
    display: grid;
    border-radius: 50%;

    &:hover{
        background-color: $primary-color;
        svg{
            color: #fff;
        }
    }

    svg{
        margin: auto;
        font-size: 0.9rem;
    }

    &.text_red{
        color: $error-color;
    }
}


.buttonContainer{
    margin: 2rem 0 0.5rem 0.5rem;
}

.media_item{
    display: "grid"; 
    width: 100px; 
    height: "100px";
}