@import '../../../../styles/sass/_variables.scss';

.item_container{
    display: flex;
    flex-wrap: wrap;

    .column{
        flex: 20%;
        margin: .6rem;
        min-width: 200px;
        max-width: 235px;
        padding: .5rem;
        border-radius: 0.5rem;
        background-color: #ffffff;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
        display: grid;
        position: relative;
        
        div{
            height: 150px;
            display: grid;

            img{
                margin: auto;
                width: 60%;
                height: auto;
            }
        }        

        span{
            text-align: center;
        }
    }
}

@media screen and (max-width: 992px){
    .column{
        flex: 50%;
    }
}

@media screen and (max-width: 600px) {
    .item-container {
      flex-direction: column;
    }
}