@import "../../styles/sass/_variables.scss";

.buttonContainer{
    margin: 1rem 0rem 0rem .5rem;
}

.acc_number_container{
    text-align: center;

    .nominal{
        margin: 1rem 0;
        padding: 1rem;
        background-color: $grey-soft;
    }
}

.bank_container{

    div{
        border: 1px solid $medium-dark-color;
        border-radius: 5px;
        display: flex;
        align-items: center;
        padding: 10px;
        justify-content: space-between;
        margin: 1rem 0;

        aside{
            display: grid;
            font-size: 12px;
            text-align: right;
        }
    }
}