.container{
    text-align: center;
    margin-top: 3rem;
    display: grid;

    .logo{
        margin: auto;
        width: 11rem;
    }

    .check{
        margin:auto;
        width: 3rem;
    }
}

.mb_1{
    margin-bottom: 2rem;
}

.mt_1{
    margin-top: 2rem;
}