.label_success{
    background-color: #D9FFD9;
    color: #00B500;
    border-radius: 16px;
    padding: 0.5rem 1rem;
}

.mb_1{
    margin-bottom: 1rem;
}

.trip_info{
    position: sticky;
    height: 3rem;
    top: 0;
    z-index: 9999;
    background-color: #fff;
}

.text_center{
    text-align: center;
}
