@import '../../../../styles/sass/mixins';
@import '../../../../styles/sass/variables';

.page_action {
    @include flex-row-space-between;
    width: 80mm;
    margin: 10mm auto;

    @media print {
        display: none;
    }
}

@media print {
    .pre {
        display: none;
    }

    .page_break {
        page-break-before: always;
    }
}

.page {
    position: relative;
    size: auto;
    width: 80mm;
    margin: 10mm auto;
    background-color: white;
    font-family: Verdana;
    font-weight: 500;
    color: black;

    table {
        width: 100%;
        margin-bottom: .25rem;
        border-collapse: collapse;
        border-spacing: 0;
    }

    td, tr {
        padding: 0; 
        margin: 0;
        border-collapse: collapse;
        vertical-align: top;
    }
}