@import '../../../../../styles/sass/_variables.scss';

.button{
    background-color: $secondary-color;
    display: grid;
    height: 100%;
    cursor: pointer;
    border-radius: 10px;
    color: #fff;
    min-height: 40px;

    span{
        margin: auto;
    }
}