@import '../../styles//sass/mixins';
@import '../../styles//sass/variables';

.container {
    @include flex-row('center', 'center');
    min-width: calc(#{$screen-sm-min / 5});
    max-width: max-content;
    padding: .5rem;
    color: $light-color;
    cursor: pointer;
    transform: scale(1);
    transition: all .5s;
    font-size: .85rem;
    border-radius: .5rem;
    border: 2px solid transparent;

    &:hover {
        box-shadow: $box-shadow-hard;
        z-index: 99;

        .tooltip {
            position: absolute;
            display: flex;
            background-color: $dark-color;
            color: $light-color;
            top: -1.25rem;
            width: max-content;
            padding: .25rem .5rem;
            font-size: .5rem;
        }
    }
}

.tooltip {
    display: none;
}

.rounded {
    border-radius: 1.5rem;
}

.disabled {
    background-color: $medium-dark-color!important;
    opacity: .5;
    transform: scale(1)!important;
    box-shadow: $box-shadow-soft!important;
    cursor: not-allowed;
}

.icon_container {
    @include flex-column('center', 'center');
    margin-right: .25rem;
}

.icon_right_container{
    @include flex-column('center', 'center');
    margin-left: .25rem;
}

.no_title {
    margin-right: 0;
}

.small_button {
    padding: .45rem .75rem!important;
    min-width: max-content;
    font-size: .75rem;
}

.fluid_width {
    width: 100%!important;
    max-width: unset!important;
}

@media print {
    .container {
        display: none;
    }
}

.margin_left{
    margin-left: 1rem;
}