@import './variables';

.primary {
    background-color: $primary-color;
}

.secondary {
    background-color: $secondary-color;
}

.success {
    background-color: $success-color;
}

.warning {
    background-color: $warning-color;
}

.error {
    background-color: $error-color;
}

.info {
    background-color: $info-color;
}

.dark {
    background-color: $dark-color;
}

.medium_dark {
    background-color: $medium-dark-color;
}

.medium_light {
    background-color: $medium-light-color;
}

.white {
    background-color: '#fff';
}

.default_border{
    background-color: $medium-light-color;
    border: 1px solid black;
}