@import '../../styles/sass/variables';

.tab {
    padding: .25rem 1rem;
    border: 1px solid $primary-color;
    margin-right: 1rem;
    color: $primary-color;
    border-radius: 2rem;
    font-size: .75rem;

    &.active {
        background-color: $primary-color;
        color: $light-color;
    }

    &.disabled {
        color: rgb(224, 222, 222);
        cursor: not-allowed !important;
        border: 1px solid rgb(224, 222, 222);
        background-color: #fff;
    }

    &:hover {
        cursor: pointer;
    }
}