@import '../../../../../../styles/sass/_variables.scss';

.button{
    background-color: $secondary-color;
    display: grid;
    height: 100%;
    cursor: pointer;
    border-radius: 10px;
    color: #fff;
    min-height: 40px;
    max-width: 100px;

    span{
        margin: auto;
    }
}

@media print{
    .button{
        display: none;
    }
}