
@import '../../../styles/sass/variables';
@import '../../../styles/sass/mixins';

.schedule {
    padding: 1rem;
    border-top: .5px solid $medium-dark-color;

    &:hover {
        box-shadow: $box-shadow-soft;
        cursor: pointer;
    }

    .bus {
        h3 {
            color: $secondary-color;
            margin: 0;
        }

        @include respond-sm {
            margin-bottom: 1rem;
        }
    }

    &.seat_sold_out {
        filter: grayscale(75);
        opacity: .25;
        cursor: not-allowed;
    }
}

.seat_wrapper_column {
    flex: 0 0 30%;
    max-width: 30%;

    small, p {
        font-size: .75rem
    }
}

.passenger_count {
    @include flex-column();
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: $medium-light-color;
    border: 1px solid $medium-dark-color;
    cursor: pointer;

    b {
        font-size: .75rem;
    }

}

.total_passengers {
    background-color: $secondary-color!important;

    b {
        color: $light-color;
    }
}

.selected_schedule_row {
    background-color: $medium-light-color;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;

    .bus {
        h3 {
            margin-bottom: 0;
        }
        
        > div > div {
            @include flex-column;
            align-items: center;
            justify-content: space-between;
            &:first-child {
                h3 {
                    color: $secondary-color;
                }
                border-right: 1px solid $medium-dark-color;
            }
        }

    }
}

.payment_summary {
    background-color: $medium-light-color;
    padding: 1rem;
    border-radius: .5rem;
    
    .payment_total {
        padding-top: .5rem;
        border-top: 1px solid $medium-dark-color;
    }

    small {
        color: $dark-color;
    }
}

.payment_method {
    @include flex-row-space-between;
    align-items: center;
    background-color: $medium-light-color;
    padding: .75rem;
    border-radius: .5rem;
    border: 1px solid transparent;
    cursor: pointer;

    b, small {
        margin: 0;
    }

    &.selected {
        box-shadow: $box-shadow-soft;
        background-color: $light-color;
        border-color: $medium-dark-color;
    }
    
    &:hover {
        box-shadow: $box-shadow-soft;
    }

    img {
        width: 40px;
        height: 20px;
        object-fit: contain;
    }

    &.grid{
        display: grid;
    }
}