@import '../styles/theme-variables.css';
@import '../styles/sass/variables';
@import '../styles/sass/mixins';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #F4F4F6;
}

textarea, input {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
}

input {
  height: 20px;
}

a, div {
  color: inherit;
  text-decoration: none;
  // -webkit-touch-callout: none;
  // -webkit-user-select: none;
  // -khtml-user-select: none;
  // -moz-user-select: none;
  // -ms-user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, .5); 
  // user-select: none;
  word-break: break-word;
}

* {
  box-sizing: border-box;
}

div {
  -ms-overflow-style: none!important;  /* IE and Edge */
  // scrollbar-width: none!important;
}

div::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

p, h1, h2, h3, h4, h5, h6, li, input, span, pre, i, b {
  margin: 0;
  user-select: text;
  letter-spacing: .25px;
}

  .dark_mode {
    p, h1, h2, h3, h4, h5, h6,i, b {
      opacity: .85;
    }
  }

h1, h2, h3, h4, h5, h6 {

  font-weight: 600;
  margin-bottom: .75rem;
}

input[type=submit] {
  display: none;
}

input {
  padding: 0;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px $medium-light-color inset;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px $medium-light-color inset;
  -webkit-text-fill-color: #333;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: translateX(-100%);
  transition: all .7s;
}

.overlay-visible {
  @include respond-sm {
    transform: translateX(0)!important;
    background-color: #{$dark-color + $opacity_25};
    z-index: 98;
  }
}