.header_content{
    color: #fff;
    margin-left: .5rem;

    div{
        display: flex;
        align-items: center;

        a{
            margin-right: .5rem;
            display: grid;
        }
    }
}