@import '../../styles/sass/variables';

.label_status{
    border-radius: 24px;
    padding: 0.5rem 1rem;
    gap: 1rem;
    cursor: pointer;
    height: fit-content;

    &.primary{
        color: $label-primary-color;
        background-color: $label-light-primary-color;
    }

    &.danger{
        color: $error-color;
        background-color: $label-light-primary-color;
    }

    &.warning{
        color: $secondary-color;
        background-color: $label-light-warning-color;
    }

    &.disabled{
        background-color: #fff;
        border: 1px solid $label-border-color;
        color: $label-disabled-color;
    }
}

.m-1{
    margin-top: 1rem 0;
}

.mr-1{
    margin-right: 0.5rem;
}
