@import '../../styles/sass/mixins';
@import '../../styles/sass/variables';

.selected_schedule_row {
    background-color: $medium-light-color;
    border-radius: .5rem;
    padding: .5rem;

    .bus {
        h3 {
            margin-bottom: 0;
        }
        
        > div > div {
            @include flex-column;
            align-items: center;
            justify-content: space-between;
            &:first-child {
                h3 {
                    color: $secondary-color;
                }
                border-right: 1px solid $medium-dark-color;
            }
        }

    }
}

.payment_summary {
    background-color: $medium-light-color;
    padding: .75rem;
    border-radius: .5rem;
    
    .payment_total {
        padding-top: .5rem;
        border-top: 1px solid $medium-dark-color;
    }
    
    > div {
        margin-bottom: .5rem;
    }

    small {
        color: $dark-color;
    }
}

.payment_method {
    border: 1px solid $medium-dark-color;
    border-radius: .5rem;
    padding: .75rem;
}

.qris_wrapper {
    @include flex-column;
    align-items: center;
    padding: .75rem;
    border: 1px solid $medium-dark-color;
    border-radius: .5rem;
    margin-bottom: 1.5rem;

    img {
        width: 50%;

        @include respond-sm {
            width: 100%;
        }
    }
}

.payment_alert {
    align-items: center;
    justify-content: center;
    border: 1px solid $secondary-color;
    background-color: #{$secondary-color + $opacity_25};
    border-radius: .5rem;
    padding: .75rem;

    p {
        font-size: .75rem;
        font-weight: 300;
    }
}

.passenger_detail{
    p{
        margin-bottom: 1rem;
    }

    div{
        display: flex;

        div{
            margin: 0rem .5rem .5rem 0;
            display: grid;

            h6{
                margin-bottom: .5rem;
            }

            div{
                font-size: .7rem;
                display: flex;

                span{
                    color: $medium-dark-color;
                    margin-right: .4rem;
                }
            }
        }
    }

   
}