.header_content{
    color: #fff;
    margin-left: .5rem;

    div{
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
        cursor: pointer;

        svg{
            margin-right: .5rem;
            display: grid;
        }
    }
}