@import '../../../../../../styles/sass/variables';

.header_content{
    color: $dark-color;
    margin-left: .5rem;

    div{
        display: flex;
        align-items: center;
        margin-bottom: 2rem;

        a{
            margin-right: .5rem;
            display: grid;
        }
    }

    aside{
        display: flex;
        align-items: center;

        svg{
            margin-right: .5rem;
        }

        a{
            border: 1px solid $blue-soft;
            padding: 5px 10px;
            font-size: .9rem;
            border-radius: 50px;
            margin-right: .5rem;

            span:first-child{
                margin-right: .5rem;
            }
        }
    }
}

.container{
    margin: .5rem 0 0.5rem 0rem;

    .activate_container{
        display: grid;
        margin-bottom: 1rem;
    }
}

.mb_1{
    margin-bottom: 1rem;
}

.route_graph{
    display: flex;
    flex-wrap: wrap;

    aside{
        margin: 0rem 1rem 1rem 0rem;
        display: flex;
        align-items: center;
        position: relative;

        div{
            border: 1px solid black;
            min-width: 200px;
            padding: 5px 10px;
            border-radius: 50px;

            .button_action{
                width: 1.5rem;
                height: 1.5rem;
                background-color: #F0F0FA;
                display: grid;
                border-radius: 50%;
                position: absolute;
                top: -12px;
                right: 0;
                cursor: pointer;
                
                &:hover{
                    background-color: $primary-color;
                    svg{
                        color: #fff;
                    }
                }
            
                svg{
                    margin: auto;
                    font-size: 0.9rem;
            
                    // &:hover{
                    //     color: #ffff;
                    // }
                }

                &.active{
                    background-color: $primary-color;
                    svg{
                        color: #fff;
                    }
                }
            }    
        }
    }

    
}

.head_traject{
    display: grid;

    span{
        font-size: .9rem;
        margin-bottom: .5rem;
    }
}

.button{
    background-color: $secondary-color;
    display: grid;
    height: 100%;
    cursor: pointer;
    border-radius: 10px;
    color: #fff;
    min-height: 40px;
    min-width: 150px;

    span{
        margin: auto;
    }
}

.dropdown{
    margin: 0rem 1rem;
}