.container {
    min-height: 85vh;
    padding-bottom: 6rem;
}

.sub_content{
    position: fixed;
    width: 100%;

    div{
        display: flex;

        strong{
            width: 10%;
            min-width: 70px
        }
    }
}