@import '../../styles/sass/variables';

.ring {
    display: inline-block;
    position: relative;
    width: 1.125rem;
    height: 1.125rem;
    background-color: transparent;
}
.ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 1.125rem;
    height: 1.125rem;
    border: 2px solid transparent;
    border-radius: 50%;
    animation: ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    // border-color: $MAIN_RED transparent transparent transparent;
}
.ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.rings_item {
    border-color: $light-color transparent transparent transparent!important;

    &.dark {
        border-color: $dark-color transparent transparent transparent!important;
    }
}