.column{
        
    .item{
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 1rem;

        span {
            min-width: 80px;
            font-weight: 500;
        }

    }
   
}

