@import '../../../styles/sass/mixins';
@import '../../../styles/sass/variables';

.summary_card_container {
    flex: 1;
    max-width: 25%;
    padding: .5rem;

    @include respond-sm {
        flex: 0 0 100%!important;
        max-width: 100%!important
    }

    .summary_card {
        color: $dark-color;
        padding: 1rem;
        height: 100%;
        box-shadow: $box-shadow-soft;
        border-radius: .25rem;
        background-color: $light-color;

        .summary_card_row {
            height: 100%
        }

        .summary {
            @include flex-column-space-between;
            max-width: calc(100% / (6/5))!important;
        }

        .summary_icon_wrapper {
            @include flex-column('center');
            height: 100%;
            max-width: calc(100% / (6/1))!important;
            
            .summary_icon {
                @include flex-column('center', 'center');
                width: 40px;
                height: 40px;
                border-radius: 2rem;
                background-color: #{$dark-color + $opacity_25};

                img {
                    width: 50%;
                    height: 50%;
                    object-fit: contain;
                }
            }

        }

        h5 {
            font-weight: normal;
            margin-bottom: .5rem;
        }
        
        h3 {
            font-weight: 300;
        }
    }
}

.input {
    background-color: $medium-light-color;
    border-color: $medium-light-color;
    border-width: .5px;
    border: 1px solid $label-border-color;
    
    input {
        color: white;
        color-scheme: dark;

        &:disabled {
            color: $dark-color;
        }
    }

    svg {
        color: $label-border-color;
    }
}

.input_title {
    p {
        color: $dark-color;
        font-weight: normal;
        font-size: .75rem;
    }
}

.summary_user_registered{
    > div{

        > div{
            border: 1px solid $label-border-color;
            border-radius: 10px;
            padding: 1rem;
            display: flex;
            width: 100%;
            margin: .5rem;
    
            aside{
                width: 10px;
                height: 100%;
                border-radius: 1rem;
                margin-right: 1rem;
            }
    
            div{
                display: grid;
                
                strong{
                    margin-top: .4rem;
                }
            }
        }
        
    }   
}

.traject_container{
    // margin: .5rem 0rem;

    div{
        display: grid;

        img{
            margin: auto;
        }

        aside{
            height: 1px;
            background-color: $medium-dark-color;
            margin: .1rem 0rem;
        }

        span{
            font-size: .9rem;
            padding-top: 1rem;
            color: $dark-color;
        }

        small{
            color: $medium-dark-color
        }
    }
}