.dropdown_action{
    position: absolute;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    min-width: 100px;
    right: 2%;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(250, 248, 248);
    z-index: 1;
}

.dropdown{
    background-color: #e6e3e3;
    border-radius: 50%;
    padding: 5px;
    width: 20px;
    height: 20px;
    display: grid;

    svg{
        margin: auto;
        fill: black;
    }
}

.button_action{
    display: flex;
    margin: 5px;
    align-items: center;

    svg{
        margin-right: 5px;
    }
}