@import '../../styles/sass/variables';
@import '../../styles/sass/mixins';

.table_container {
    border-radius: .5rem;
    overflow: hidden;
}

.table_header {
    padding: 1rem;
    font-size: .9rem;
}

.header_content {
    justify-content: flex-start;
    align-items: center;

    @include respond-sm {
        margin-bottom: 1rem;
    }
}

.export_actions {
    @include flex-row('flex-end', 'center')
}

.table_wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
}

.table {
    font-size: .65rem;
    font-weight: 500;
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;

    @include respond-sm {
        min-width: max-content;
    }

    thead  {
        background-color: $medium-light-color;

        > tr {
            &:first-child {
                > th {
                    border-top: none;
                }
            }
            > th {
                &:first-child {
                    border-left: none;
                }

                &:last-child {
                    border-right: none;
                }
            }
        }

        > tr > th > div {
            
            padding: .5rem;
            color: $dark-color;
            font-size: .7125rem;
            font-weight: 600;
        }

        th {
            border: .25px solid $medium-dark-color;
        }
    }

    tbody {

        td {
            border: .25px solid $medium-dark-color;
            padding: .5rem;

            &:first-child {
                border-left: none;
            }

            &:last-child {
                border-right: none;
            }

            > div {
                @include flex-column('center', 'center');
                width: 100%;
                text-align: left;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        tr {
            &:hover {
                background-color: lighten($color: $label-light-primary-color, $amount: 1);
                cursor: pointer;
            }
        }
    }
    
}

.text_left{
    align-items: baseline !important;
}

.text_right{
    align-items: end !important;
}

.checkbox {
    @include flex-column('center', 'center');

    input {
        transform : scale(1.5);
        cursor: pointer;
    }
}

.footer {
    background-color: $medium-light-color;
    font-size: .7rem;
}

.table_footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $light-color;
    padding: .5rem;
    font-size: .65rem;
    @include respond-sm {
        flex-direction: column;

        > div {
            margin-bottom: 1rem;
        }
    }
    
    .records_per_page_selector {
        display: flex;
        flex: 1;
        align-items: center;
        
        .records_per_page {
            padding: .25rem;
            border-radius: .25rem;
            background-color: $light-color;
            border: 1px solid lightgrey;
            font-size: .65rem;
            width: 80px;
            margin: 0 .25rem;
        }

        select {
            width: 100px;
        }
    }

    .pagination_container {
        display: flex;
        flex: 1;
        justify-content: flex-end;

        .pagination {
            margin: 0;
            display: flex;
            align-items: center;

            .pagination_title {
                margin-right: .5rem;
            }

            .page_nav {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 2rem;
                height: 2rem;
                background-color: $light-color;
                border-radius: 50%;
                border: 1px solid $medium-light-color;
                color: $primary-color;
                margin: .1rem;

                &:hover {
                    background-color: $medium-light-color;
                    cursor: pointer;
                }
            }

            .page_count {
                display: flex;
                align-items: center;
                margin: 0 1rem;

                .page_input {
                    width: 5rem;
                    margin-right: .5rem;
                    padding: .25rem;
                    border-radius: .25rem;
                    text-align: center;
                    background-color: $light-color;
                    border: 1px solid lightgrey;
                    font-size: .65rem;
                }
            }

            .page_link {
                width: 2rem;
                height: 2rem;
                margin-right: .5rem;
                border-radius: 50% !important;
                color: $primary-color;
                cursor: pointer;

                &.active {
                    background-color: $primary-color;
                    color: $light-color;
                }
            }
        }
    }
}

.animate {
    animation : shimmer 2s infinite;
    background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
    background-size: 1000px 100%;
}

@keyframes shimmer {
    0% {
      background-position: -1000px 0;
    }
    100% {
      background-position: 1000px 0;
    }
}

@media print {
    .table_container {
        overflow: visible;
    }

    .table_wrapper {
        overflow: visible;
    }
}