.header_content{
    color: #fff;
    margin-left: .5rem;

    div{
        display: flex;
        align-items: center;

        strong{
            margin-left: .5rem;
            display: grid;
        }

        svg{
            cursor: pointer;
        }
    }
}